.innovation {
  width: 100%;
  padding: 6rem 1.5rem;
  background-color: #fff2f4;
}

.innovationContentGroup span {
  font-size: 1.3rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #EB3850;
}

.innovationContentGroup h2 {
  margin-top: 0.9rem;
  font-size: 3rem;
  font-weight: 500;
}

.innovationContentGroup > h2 > span {
  font-size: 36px;
  font-weight: 600;
  text-transform: none;
  color: #EB3850;
}

.cards {
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 17.5rem;
  padding: 1.3rem;
  background-color: #ffffff;
}

.card h4 {
  margin: 1.5rem 0 0.6rem 0;
  font-size: 1.3rem;
  font-weight: 500;
  color: #333333;
}

.card p {
  margin-bottom: 1.5rem;
  font-size: 1rem;
  line-height: 1.6rem;
  font-weight: 400;
  color: #333333;
}

.card a {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #EB3850;
}

.card a:hover {
  color: #b6182d;
}

.card a::after {
 content: "";
 display: block;
 width: 100%;
 height: 1px;
 margin-top: 1px;
 background-color: #EB3850;
}

.card:nth-child(4) {
  background: none;
}

.card:nth-child(5) {
  background: none;
}

@media screen and (max-width: 768px){
	/* Estilizações CSS */
  .innovationContentGroup h2 {
    font-size: 1.5rem;
  }
  
  .card {
    margin-top: 2rem;
    width: 100%;
  }
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
  .innovationContentGroup h2 {
    font-size: 2.5rem;
  }
  
  .card {
    margin-top: 2rem;
    width: 100%;
  }
}